.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.App-title {
  margin-top:0;
  margin-bottom:0;
  color: white;
  font-weight: 300;
  display: inline-block;
  font-size: 4rem;
  width: 50%;
  max-height: 1em;
}
